* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  width: 100%;
  height: 100vh;
  /* background-color: #1e3799; */
}

#page2 {
  width: 100%;
  height: 100vh;
  /* background-color: #b71540; */
}

#page2 #image-div {
  height: 100%;
  width: 30%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

#image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.5;
}

#page3 {
  width: 100%;
  height: 100vh;
  /* background-color: #b8e994; */
}
